/* ------------------------------------ *\
  COLORS
\* ------------------------------------ */

$c-light: (
    light: #fff,
    light-10: rgba(#fff, 0.1),
    light-15: rgba(#fff, 0.15),
    light-40: rgba(white, 0.4),
    cultured: #eee,
    gainsboro-white: #e0e0e0,
);
